name: Release Docker

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Load Docker config
        run: |
          FLUTTER_VERSION=$(jq -r '.flutter_version' docker-config.json)
          DOCKER_TAG=$FLUTTER_VERSION
          echo "FLUTTER_VERSION=$FLUTTER_VERSION" >> $GITHUB_ENV
          echo "DOCKER_TAG=$DOCKER_TAG" >> $GITHUB_ENV

      - name: Generate Dockerfile
        run: |
          cat <<EOF > Dockerfile
          ARG FLUTTER_VERSION=${{ env.FLUTTER_VERSION }}

          FROM ghcr.io/cirruslabs/flutter:\${FLUTTER_VERSION}

          ENV LC_ALL=C.UTF-8 \\
              LANG=C.UTF-8 \\
              ANDROID_SDK_ROOT=/opt/android-sdk-linux \\
              ANDROID_HOME=/opt/android-sdk-linux \\
              PATH=\$PATH:\$ANDROID_SDK_ROOT/cmdline-tools/latest/bin:\$ANDROID_SDK_ROOT/platform-tools

          RUN apt-get update && apt-get install -y --no-install-recommends ruby ruby-dev git wget unzip ca-certificates curl xz-utils zip
          RUN apt-get install -y --no-install-recommends openjdk-17-jre-headless
          RUN gem install fastlane -NV
          RUN rm -rf /var/lib/apt/lists/*

          RUN yes | sdkmanager --licenses && \\
              sdkmanager --install \\
                  "platform-tools" \\
                  "build-tools;36.1.0" \\
                  "platforms;android-36.1" \\
                  "cmake;3.22.1" \\
                  "ndk;27.0.12077973"

          RUN flutter config --no-analytics && flutter precache --android --ios --no-web
          RUN rm -rf /root/.cache /usr/share/doc /usr/share/man /tmp/* /var/tmp/*

          WORKDIR /app
          CMD ["bash"]
          EOF

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/flutter-fastlane:${{ env.DOCKER_TAG }}
          build-args: |
            FLUTTER_VERSION=${{ env.FLUTTER_VERSION }}
